@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
$NotoJP: 'Noto Sans JP', sans-serif;

html {
  font-family: $NotoJP;
  background-color: rgb(29, 29, 29);
  width: 100%;
  height: 100%; 
  color: black;  
}

.main {
  margin: 0px;
  padding: 0px;
}

.title-box {
    text-align: center;
    font-family: $NotoJP;    
    margin: 1rem;
    padding: 2rem;
}

.title {
  font-family: $NotoJP;
  font-size: 2rem;
  color: rgb(230, 84, 133);
}

.subtitle {
    font-family: $NotoJP;
    color: whitesmoke;
}

.navbar {
  display: flex;
  background-color: rgb(230, 84, 133);
  width: 100%;
  margin: 0px;  
}

.bar-item {
  float:left;  
}

#clickable-text {  
  display: block;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  color: black;
  text-align: center;

}

ul {
  margin:0.5rem;
  padding: 0.5rem ;
  list-style-type: none;
  overflow: hidden;
}

